{% extends "core/Admin/Dashboard.html" %}
{% load static tailwind_tags %}
{% block content %}
<div class="w-full bg-white flex justify-center items-center">
    <div class="w-[50rem] h-[35rem]  mt-10">
        <!--Search and add supplier container-->
        <div class=" min-w-full h-20 pt-2 flex justify-between">
            <!--search-->
            <form action="" class="flex items-center space-x-2">
                <input type="text" placeholder="Search" class="h-8 rounded-3xl hover:border-blue-700">
                <button type="submit" class="rounded-xl pt-1 pb-1 px-5 text-md bg-gray-2 text-white hover:text-orange-500">
                    Search
                </button>
            </form>
            <!--add supplier-->
            <div class="pr-4 mt-5">
                <button class="bg-gray-2 py-2 px-4 rounded-2xl text-md text-white hover:text-orange-500" onclick="openModal('AddModal')">
                    Add Supplier
                </button>
            </div>
        </div>
        <!--table container-->
        <div class="min-w-full h-[26rem] bg-gray-3">
            <table class="w-full ">
                <thead class="bg-gray-200 border-b-2 border-gray-200">
                    <tr class="">
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Name</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Address</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Contact No.</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Item</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Price</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr class="text-center">
                        <td class="pt-1">Morgan freeman </td>
                        <td class="pt-1">cebu city</td>
                        <td class="pt-1">09123412321</td>
                        <td class="pt-1">welding rod</td>
                        <td class="pt-1">300</td>
                        <td class="pt-1">
                            <button class="bg-gray-2 px-3 py-1 rounded-lg text-white hover:text-orange-500" onclick="openModal('updateModal')">Update</button>
                            <button class="bg-gray-2 px-3 py-1 rounded-lg text-white hover:text-orange-500" onclick="openModal('deleteModal')">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Update Modal-->
    <div id="updateModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
        <div class="bg-white rounded-lg p-6 space-y-4 relative">
            <button 
                class="text-black  rounded-full top-2 left-[21rem] absolute"
                    onclick="closeModal('updateModal')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
            </button>
            <!--form container-->
            <div class="flex flex-col justify-center items-center pt-5">
                <form action="">
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Name
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Name" type="text" placeholder="Name">
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Address
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Address" type="text" placeholder="Address">
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Contact No.
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Contact No." type="text" placeholder="+63">
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Item
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Item" type="text" placeholder="Item">
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Price
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Price" type="number" min="1" placeholder="₱">
                    </div>
                    <div class=" flex justify-center items-center">
                        <button type="submit" class="mt-5 bg-gray-2 py-2 px-5 text-white rounded-2xl hover:text-orange-500">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Add modal-->
    <div id="AddModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
        <div class="bg-white rounded-lg p-6 space-y-4 relative">
            <button 
                class="text-black  rounded-full top-2 left-[21rem] absolute"
                    onclick="closeModal('AddModal')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
            </button>
            <!--form container-->
            <div class="flex flex-col justify-center items-center pt-5">
                <form action="">
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Name
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Name" type="text" placeholder="Name">
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Address
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Address" type="text" placeholder="Address">
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Contact No.
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Contact No." type="text" placeholder="+63">
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Item
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="item" type="text" placeholder="item">
                    </div>
                    <div class="mb-4 flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mt-2 mr-2" for="first-name">
                            Price
                        </label>
                        <input required class="shadow appearance-none border rounded w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Price" type="number" min="1" placeholder="₱">
                    </div>
                    <div class=" flex justify-center items-center">
                        <button type="submit" class="mt-5 bg-gray-2 py-2 px-5 text-white rounded-2xl hover:text-orange-500">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--delete modal-->
    <div id="deleteModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
        <div class="bg-white rounded-lg p-6 space-y-4 relative">
            <button 
                class="text-black  rounded-full top-2 left-[20rem] absolute"
                onclick="closeModal('deleteModal')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
            </button>
            <h2 class="text-lg font-bold">Are you sure you wanna delete this?</h2>
            <div class="flex justify-center items-center">
                <form action="">
                    <button type="submit" class="bg-gray-2 text-white px-4 py-2 rounded-2xl hover:text-orange-500">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function openModal(modalId) {
    const modal = document.getElementById(modalId);
    modal.classList.remove('hidden'); // Remove hidden class
    modal.classList.add('flex'); // Add flex for centering
    }

    function closeModal(modalId) {
    const modal = document.getElementById(modalId);
    modal.classList.remove('flex'); // Remove flex to prevent display issues
    modal.classList.add('hidden'); // Add hidden class to hide modal
    }
</script>
{% endblock %}