{% extends "core/Admin/Dashboard.html" %}
{% block title %}Supplier{% endblock %}
{% block content %}
<div class="w-full bg-white flex justify-center items-center">
    <div class="w-[50rem] h-[35rem]  mt-10">
        <div class=" min-w-full h-20 pt-2">
            <input type="text" placeholder="Search" class="h-8 rounded-3xl hover:border-orange-800">
            <button type="button" class="bg- rounded-xl pt-1 pb-1 px-5 text-sm bg-gray-1 text-white">
                Search
            </button>
        </div>
        <!--table container-->
        <div class="min-w-full h-[26rem] bg-gray-3">
            <table class="w-full ">
                <thead class="bg-gray-200 border-b-2 border-gray-200">
                    <tr class="">
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Request ID</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Request Type</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Date</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Status</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr class="text-center">
                        <td class="pt-1">001</td>
                        <td class="pt-1">job request</td>
                        <td class="pt-1">December 25, 2024</td>
                        <td class="pt-1">pending</td>
                        <td class="pt-1">
                            <button class="bg-slate-400 px-2 py-0.5 rounded-lg">view</button>
                            <button class="bg-slate-400 px-2 py-0.5 rounded-lg">approve</button>
                            <button class="bg-slate-400 px-2 py-0.5 rounded-lg">decline</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}