{% extends "core/Custodian/Inventory.html" %}
{% load static tailwind_tags %}
{% block content %}
<div class="w-full bg-white flex justify-center items-center">
    <div class="w-[50rem] h-[35rem]  mt-10">
        <!--search-->
        <div class=" min-w-full h-20 pt-2">
            <input type="text" placeholder="Search" class="h-9 mt-6 rounded-3xl hover:border-blue-700" id="search-input" 
            oninput="filterDelivery(this)">
        </div>
        <!--table container-->
        <div class="min-w-full h-[26rem] bg-gray-3 overflow-auto table-auto">
            <table class="w-full">
                <thead class="bg-gray-200 border-b-3 border-gray-200">
                    <tr class="">
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Delivey ID</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Item</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Quantity</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Supplier</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">total</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">status</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="delivery-table">
                    {% for delivery in check_deliveries %}
                    <tr class="text-center">
                        <td class="pt-1 mt-1">{{delivery.delivery_id}}</td>
                        <td class="pt-1 mt-1">{{delivery.delivery_item}}</td>
                        <td class="pt-1 mt-1">{{delivery.delivery_quantity}}</td>
                        <td class="pt-1 mt-1">{{delivery.delivery_supplier}}</td>
                        <td class="pt-1 mt-1">₱{{delivery.delivery_total}}</td>
                        <td class="pt-1">
                            <span class="bg-orange-600 text-white px-3 py-1.5 rounded-xl text-base">
                                {{delivery.delivery_status}}
                            </span>
                        </td>
                        <td class="pt-1 mt-1">
                            <button class="bg-gray-2 text-white px-3 py-1 rounded-lg hover:text-orange-500" 
                            onclick="openModal('accept-{{delivery.delivery_id}}')">accept</button>
                            <button class="bg-gray-2 text-white px-3 py-1 rounded-lg hover:text-orange-500" 
                            onclick="openModal('return-{{delivery.delivery_id}}')">return</button>
                        </td>
                        <!--accept modal-->
                        <div id="accept-{{delivery.delivery_id}}" class="modal hidden fixed inset-0 
                        bg-black bg-opacity-50 items-center justify-center">
                            <div class="bg-white rounded-lg p-6 space-y-4 relative">
                                <div class="top-1 left-[26rem] absolute">
                                    <button type="button"
                                        class="text-black  rounded-full ml-4"
                                        onclick="closeModal('accept-{{delivery.delivery_id}}')">
                                        <img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                                    </button>
                                </div>
                                <h2 class="text-lg font-bold text-center">Confirm Order</h2>
                                <p class="text-center text-gray-600">Click <strong>Yes</strong> to process the transaction for the delivered order.</p>
                                <div class="flex justify-center items-center">
                                    <form method="POST" action="{% url 'accept_delivery' delivery_id=delivery.delivery_id%}">
                                        {%csrf_token%}
                                        <button type="submit" class="bg-gray-2 text-white px-4 py-2 rounded-2xl 
                                        hover:text-orange-500">Yes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--Return modal-->
                        <div id="return-{{delivery.delivery_id}}" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
                            <div class="bg-white rounded-lg p-6 space-y-4 relative w-[23rem]">
                                <button type="button" class="text-black rounded-full absolute top-1 left-[21rem]" 
                                    onclick="closeModal('return-{{delivery.delivery_id}}')">
                                    <img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7">
                                </button>
                                <h2 class="text-lg font-bold text-center">Confirm Order</h2>
                                <div class="flex flex-col justify-center items-center">
                                    <form method="POST" action="{% url 'return_delivery' delivery_id=delivery.delivery_id %}">
                                        {% csrf_token %}
                                        <div class="flex flex-col">
                                            <label class="font-semibold text-lg">State the reason</label>
                                            <textarea name="reason" required class="shadow appearance-none border rounded w-[20rem] h-20 py-2 px-3 
                                            text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none" maxlength="255"></textarea>
                                        </div>
                                        <div class="mt-2">
                                            <button type="submit" class="bg-gray-2 text-white px-4 py-2 rounded-2xl hover:text-orange-500">Yes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function openModal(modalId) {
    const modal = document.getElementById(modalId);
    modal.classList.remove('hidden'); // Remove hidden class
    modal.classList.add('flex'); // Add flex for centering
    }

    function closeModal(modalId) {
    const modal = document.getElementById(modalId);
    modal.classList.remove('flex'); // Remove flex to prevent display issues
    modal.classList.add('hidden'); // Add hidden class to hide modal
    }

    function filterDelivery() {
        var input = document.getElementById('search-input');
        var filter = input.value.toLowerCase();
        var table = document.getElementById('delivery-table');
        var rows = table.getElementsByTagName('tr');
        
        for (var i = 0; i < rows.length; i++) { // Start from 1 to skip header row
            var row = rows[i];
            var cells = row.getElementsByTagName('td');
            var match = false;
            
            for (var j = 0; j < cells.length; j++) {
                var cell = cells[j];
                if (cell.textContent.toLowerCase().indexOf(filter) > -1) {
                    match = true;
                    break;
                }
            }
            
            if (match) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        }
    }
</script>
{% endblock %}