{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FERMA STAINLESS WORKS</title>
    {% tailwind_css %}
</head>
<body class="font-Nats overflow-auto">
    <header class="flex bg-gray-1 w-full">
        <img src="{% static 'images/Logo.png'%}" alt="Ferma Steel works" class="ml-20 w-28 h-20">
        <h1 class="text-white font-bold mt-5 ml-2 sm:text-xs md:text-4xl">FERMA STAINLESS WORKS</h1>
    </header>
    <main class="flex w-full min-h-screen bg-white overflow-hidden">
        <!--vertical navbar-->
        <div class="min-w-fit min-h-screen flex flex-col bg-gray-2 w-[6rem] text-white items-center">
            <!--container-->
            <div class="flex flex-col flex-grow items-center min-w-full mx-2">
                <div class="flex flex-col items-center mb-10 py-4">
                    <img src="{% static 'images/user-icon.png'%}" alt="user-icon" class="w-7 h-7 mb-1">
                    <p class="text-white items-center text-sm">Luffy</p>
                    <p class="text-white items-center text-sm">Worker</p>
                </div>
                <ul class="flex flex-col items-center space-y-2 min-w-full">
                    <li class="flex flex-col items-center hover:bg-slate-900 min-w-full pt-1">
                        <a href="{% url 'Worker/Request' %}" class="text-sm mt-1">
                            <img src="{% static 'images/Request.png' %}" alt="Request" class="w-6 h-6 ml-4">
                            Request
                        </a>
                    </li>
                </ul>
                <ul class="mt-auto min-w-full">
                    <li class="flex flex-col items-center min-w-full hover:bg-slate-900 pt-2">
                        <a href="{% url 'Login' %}" class="">
                            <img src="{% static 'images/logout.png'%}" alt="logout" class="w-6 h-6 ml-2">
                            <p class="text-sm mt-2 pb-3">Log out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-full bg-white flex justify-center items-center">
            <div class="w-[50rem] h-[35rem]  mt-10">
                <!--search and create Request-->
                <div class=" min-w-full h-20 pt-2 flex justify-between">
                    <form action="" class="flex items-center space-x-2">
                        <input type="text" placeholder="Search" class="h-8 rounded-3xl hover:border-blue-700">
                        <button type="submit" class="rounded-xl py-1 px-5 text-md bg-gray-2 text-white hover:text-orange-500">
                            Search
                        </button>
                    </form>
                    <!--create request button-->
                    <div class="pr-4 mt-5">
                        <button class="bg-gray-2 py-2 px-4 rounded-2xl text-md text-white hover:text-orange-500" 
                            onclick="openModal('CreateModal')">
                            Create Request
                        </button>
                    </div>
                </div>
                <!--table container-->
                <div class="min-w-full h-[26rem] bg-gray-3">
                    <table class="w-full ">
                        <thead class="bg-gray-200 border-b-2 border-gray-200">
                            <tr class="">
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Request ID</th>
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Request Type</th>
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Date</th>
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Status</th>
                                <th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr class="text-center">
                                <td class="pt-1">001</td>
                                <td class="pt-1">job request</td>
                                <td class="pt-1">December 25, 2024</td>
                                <td class="pt-1">pending</td>
                                <td class="pt-1">
                                    <button class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" onclick="openModal('view')">
                                        view
                                    </button>
                                    <button class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" onclick="openModal('update')">
                                        Update
                                    </button>
                                    <button class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" onclick="openModal('delete')">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Update Modal-->
        <div id="update" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
            <div class="bg-white rounded-lg p-6 space-y-4 relative">
                <button 
                    class="text-black  rounded-full top-1 left-[21rem] absolute"
                    onclick="closeModal('update')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                </button>
                <h2 class="text-lg font-bold">Requests</h2>
                <div class="flex flex-col justify-center items-center">
                    <form action="">
                        <select required class="shadow appearance-none border rounded w-[20rem] py-2 px-3
                         text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Request">
                            <!-- <option value="" disabled selected>Select Requests</option> -->
                            <option value="Worker">Item Request</option>
                        </select>
                        <!--item request-->
                        <div id="itemField" class="flex-col justify-center items-center pt-5">
                            <div class="mb-4">
                                <div class="mb-4 flex justify-between">
                                    <label class="block text-gray-700 text-md font-bold mt-2 mr-2" for="item">
                                        Item
                                    </label>
                                    <input required class="shadow appearance-none border rounded 
                                    w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    id="Name" type="text" placeholder="Name">
                                </div>
                                <div class="mb-4 flex justify-between">
                                    <label class="block text-gray-700 text-md font-bold mt-2 mr-2" for="Quantity">
                                        Quantity
                                    </label>
                                    <input required class="shadow appearance-none border rounded 
                                    w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    id="Quantity" type="number" min="1" placeholder="0">
                                </div>
                                <div class="mb-4 flex justify-between">
                                    <label class="block text-gray-700 text-md font-bold mt-2 mr-2" for="first-name">
                                        Name
                                    </label>
                                    <input required class="shadow appearance-none border rounded 
                                    w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    id="Name" type="text" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <button type="button"
                                class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                                id="submitButton">
                                Submit
                            </button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        <!--Delete Modal-->
        <div id="delete" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
            <div class="bg-white rounded-lg p-6 space-y-4 relative">
                <button 
                    class="text-black  rounded-full top-2 left-[20rem] absolute"
                    onclick="closeModal('delete')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                </button>
                <h2 class="text-lg font-bold">Are you sure you wanna delete this?</h2>
                <div class="flex justify-center items-center">
                    <form action="">
                        <button type="submit" class="bg-gray-2 text-white px-4 py-2 rounded-2xl hover:text-orange-500">
                            Yes
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--view modal-->
        <div id="view" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
            <div class="bg-white rounded-lg p-6 space-y-4">
                <h2 class="text-lg font-bold">View Request</h2>
                <p>Details about the job request go here.</p>
                <button 
                    class="bg-blue-500 text-white px-4 py-2 rounded-lg"
                    onclick="closeModal('view')">Close</button>
            </div>
        </div>
        <!--create Modal-->
        <div id="CreateModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
            <div class="bg-white rounded-lg p-6 space-y-4 relative">
                <button 
                    class="text-black  rounded-full top-1 left-[20.5rem] absolute"
                    onclick="closeModal('CreateModal')"><img src="{% static 'images/closebtn.png' %}" alt="closebutton" class="w-7 h-7 ">
                </button>
                <h2 class="text-lg font-bold">Requests</h2>
                <div class="flex flex-col justify-center items-center">
                    <form action="">
                        <select required class="shadow appearance-none border rounded w-[20rem] py-2 px-3
                         text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        id="Request">
                            <!-- <option value="" disabled selected>Select Requests</option> -->
                            <option value="Worker">Item Request</option>
                        </select>
                        <!--item request-->
                        <div id="itemField" class="flex-col justify-center items-center pt-5">
                            <div class="mb-4">
                                <div class="mb-4 flex justify-between">
                                    <label class="block text-gray-700 text-md font-bold mt-2 mr-2" for="item">
                                        Item
                                    </label>
                                    <input required class="shadow appearance-none border rounded 
                                    w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    id="Name" type="text" placeholder="Name">
                                </div>
                                <div class="mb-4 flex justify-between">
                                    <label class="block text-gray-700 text-md font-bold mt-2 mr-2" for="Quantity">
                                        Quantity
                                    </label>
                                    <input required class="shadow appearance-none border rounded 
                                    w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    id="Quantity" type="number" min="1" placeholder="0">
                                </div>
                                <div class="mb-4 flex justify-between">
                                    <label class="block text-gray-700 text-md font-bold mt-2 mr-2" for="first-name">
                                        Name
                                    </label>
                                    <input required class="shadow appearance-none border rounded 
                                    w-[15rem] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    id="Name" type="text" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <button type="button"
                                class="bg-gray-2 text-white hover:text-orange-500 px-2 py-1 rounded-lg" 
                                id="submitButton">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script>
        function openModal(modalId) {
        const modal = document.getElementById(modalId);
        modal.classList.remove('hidden'); // Remove hidden class
        modal.classList.add('flex'); // Add flex for centering
        }
    
        function closeModal(modalId) {
        const modal = document.getElementById(modalId);
        modal.classList.remove('flex'); // Remove flex to prevent display issues
        modal.classList.add('hidden'); // Add hidden class to hide modal
        }
    </script>
</body>
</html>